<div class="wrapper">
    <nav class="main-header navbar navbar-expand bg-deep navbar-dark border-bottom">
        <ul class="navbar-nav"><!-- Left navbar links -->
            <li class="nav-item">
                <a class="nav-link" data-widget="pushmenu" href="#"><i class="fa fa-bars"></i></a>
            </li>
           <!--<li class="nav-item d-none d-sm-inline-block">
                <a href="index3.html" class="nav-link">Inicio</a>
            </li>-->
        </ul>
        <ul class="navbar-nav ml-auto"><!-- Right navbar links -->
            <li class="nav-item"><!--<button type="button" class="btn btn-outline-secondary" (click)="cerrarSesion()">Cerrar Sesion</button>-->                
                <h3 class="m-0 text-light font-weight-light">Sistema Integral de Catastro e Impuesto Predial</h3>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto"><!-- Right navbar links -->
            <li class="nav-item">

            </ul>
        </nav><!--<aside class="main-sidebar sidebar-dark-secondary elevation-4">-->    
        <aside class="main-sidebar sidebar-light-deep elevation-2">
            <a href="index3.html" class="brand-link bg-deep">
              <img src="assets/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
              style="opacity: .8">
              <!--<span class="brand-text font-weight-light">SICAEIP</span>-->
              <span class="brand-text text-light">SICAEIP</span>
          </a>
          <div class="sidebar">
              <!-- Sidebar user panel (optional) -->
              <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                  <img src="assets/dist/img/user2-160x160.jpg" class="" alt="User Image" style="border-radius: 50%">
              </div>
              <div class="info">
                  <a href="#" class="d-block">Usuario Administrador</a>
                  <p class="d-block">Cerrar sesion <a data-hover="tooltip" title="Salir del Sistema" (click)="cerrarSesion()"><i class="fa fa-sign-out"></i></a></p>                                                
              </div>
          </div>
          <nav class="mt-2"><!-- Sidebar Menu -->
          <ul class="nav nav-pills nav-sidebar flex-column" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a routerLink="/administrador" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:
true}" class="nav-link">
                        <i class="fa fa-home nav-icon"></i>
                        <p> Portada</p>
                    </a>
                </li>   
                                     
            </ul>
            
            <ul class="nav nav-pills nav-sidebar flex-column" role="menu" data-accordion="false">
                <li class="nav-header ">GESTIONAR COBROS</li>
                <li class="nav-item ">
                    <a [routerLink]="['/administrador/consulta']" [routerLinkActive]="['active']" class="nav-link">
                        <i class="fa fa-money nav-icon"></i>
                        <p> Consultar Adeudos</p>
                    </a>
                </li>   
                <li class="nav-item ">
                    <a [routerLink]="['/administrador/validar-pagos']" [routerLinkActive]="['active']" class="nav-link">
                        <i class="fa fa-check-circle nav-icon"></i>
                        <p> Validar Pagos</p>
                    </a>
                </li>                        
            </ul>
            <ul class="nav nav-pills nav-sidebar flex-column" role="menu" data-accordion="false">
                <li class="nav-header ">GESTIONAR PADRON</li>                
                <li class="nav-item ">
                    <a [routerLink]="['/administrador/alta-total-padron']" [routerLinkActive]="['active']" class="nav-link">
                        <i class="fa fa-circle nav-icon"></i>
                        <p> Alta Total</p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a [routerLink]="['/administrador/alta-parcial-padron']" [routerLinkActive]="['active']" class="nav-link">
                        <i class="fa fa fa-circle-o nav-icon"></i>
                        <p> Alta Parcial</p>
                    </a>
                </li>   
                <li class="nav-item ">
                    <a [routerLink]="['/administrador/alta-nueva-padron']" [routerLinkActive]="['active']" class="nav-link">
                        <i class="fa fa-user-plus nav-icon"></i>
                        <p> Nueva Inscripción</p>
                    </a>
                </li>  
                <li class="nav-item ">
                    <a [routerLink]="['/administrador/actualizar-padron']" [routerLinkActive]="['active']" class="nav-link">
                        <i class="fa fa-refresh nav-icon"></i>
                        <p>Actualizar contribuyente</p>
                    </a>
                </li>                        
            </ul>
            <ul class="nav nav-pills nav-sidebar flex-column" role="menu" data-accordion="false">
                <li class="nav-header ">GENERAR REPORTES</li>
                <li class="nav-item">
                    <a href="" class="nav-link">
                        <i class="fa fa fa-user-plus nav-icon"></i>
                        <p>Reporte de recaudación</p>
                    </a>
                </li> 
            </ul>
        </nav>
    </div>
</aside>  
<div class="content-wrapper"><!-- Content Wrapper. Contains page content -->
    <!--<div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6"><h1 class="m-0 text-dark">Sistema Integral de Catastro e Impuesto Predial</h1>
                </div>                  
                <br>
                <br>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                        <li class="breadcrumb-item active">Pagina</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>-->
    <section class="content">
        <br>
        <router-outlet></router-outlet>
    </section>
</div>
<footer class="main-footer">
    <strong>Copyright &copy; 2014-2018 <a href="http://adminlte.io">AdminLTE.io</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
        <b>Version</b> 3.0.0-alpha
    </div>
</footer>  
<aside class="control-sidebar control-sidebar-dark"><!-- Control Sidebar -->    
</aside> <!-- /.control-sidebar --> 
</div>