<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-cat-color">
                <div class="card-header">
                    <h3 class="card-title">Captura de nueva inscripción venta Parcial</h3>
                </div>
                <form class="form-horizontal">
                	<div class="card-body">
                		<br>
                		<div class="form-group input-group input-group">
                			<input type="text" class="form-control" placeholder="Introduce la cuenta que se va a trasladar">
                			<span class="input-group-append">
                				<button type="button" class="btn btn-secondary btn-flat" (click)="obtenerAltaParcial()">Ir!</button>
                			</span>
                		</div>
                		<br>
                		<div *ngIf="datosAltaParcial">
                			<div class="row" >
                				<div class="col-md-6">
                					<label>Importe de la venta</label>
                					<div class="input-group">
                						<div class="input-group-prepend">
                							<span class="input-group-text">$</span>
                						</div>
                						<input type="text" class="form-control">
                					</div>                				
                				</div>
                				<div class="col-md-6">
                					<label>Fecha de escritura comprador</label>
                					<div class="input-group">
                						<div class="input-group-prepend">
                							<span class="input-group-text"><i class="fa fa-calendar"></i></span>
                						</div>
                						<input type="text" class="form-control" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask>
                					</div>
                				</div>
                			</div>
                			<br>
                			<div class="row">
                				<div class="col-md-12">
                					<label>Lugar y Fecha</label>
                					<div class="">
                						<input type="text" class="form-control" id="">
                					</div>
                				</div>                				
                				<div class="col-md-12">
                					<br>
                					<label>Nombre del vendedor</label>
                					<div class="">
                						<input type="text" class="form-control" id="">
                					</div>
                				</div>
                				<div class="col-md-12">
                					<br>
                					<label>Nombre del comprador</label>
                					<div class="">
                						<input type="text" class="form-control" id="">
                					</div>
                				</div>
                				<div class="col-md-12">
                					<br>
                					<label>Ubicación del predio</label>
                					<div class="">
                						<input type="text" class="form-control" id="">
                					</div>
                				</div>
                				<div class="col-md-6">
                                    <br>
                                    <label>Numero Exterior</label>
                                    <div class="">
                                        <input type="number" class="form-control" id="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <br>
                                    <label>Numero Interior</label>
                                    <div class="">
                                        <input type="number" class="form-control" id="">
                                    </div>
                                </div>
                				<div class="col-md-12">
                					<br>
                					<label>Domicilio para recibir notificaciones</label>
                					<div class="">
                						<input type="text" class="form-control" id="">
                					</div>
                				</div>
                			</div>
                			<div class="row">
                				<div class="col-md-6">
                					<br>
                					<label>Localidad</label>
                					<div class="">
                						<input type="number" class="form-control" id="">
                					</div>
                				</div>
                				<br>
                				<div class="col-md-6">
                					<br>
                					<label>Base gravable</label>
                					<div class="input-group">
                						<div class="input-group-prepend">
                							<span class="input-group-text">$</span>
                						</div>
                						<input type="text" class="form-control">
                					</div>     
                				</div>                				
                			</div>
                			<br>
							<div class="row">                				
                				<div class="col-md-6">
                					<label>Sup. Terreno</label>
                					<div class="">
                						<input type="text" class="form-control" id="">
                					</div>
                				</div> 
                				<div class="col-md-6">
                					<label>Valor Terreno</label>
                					<div class="">
                						<input type="text" class="form-control" id="">
                					</div>
                				</div> 
                				<div class="col-md-6">
                					<br>
                					<label>Sup. Construcción</label>
                					<div class="">
                						<input type="text" class="form-control" id="">
                					</div>
                				</div> 
                				<div class="col-md-6">
                					<br>
                					<label>Valor Construcción</label>
                					<div class="">
                						<input type="text" class="form-control" id="">
                					</div>
                				</div>                						
                			</div>
							<hr>
							<label>Alta de vendedor venta parcial</label>
							<div class="row">
                				<div class="col-md-12">
                					<br>
                					<label>Domicilio para recibir notificaciones</label>
                					<div class="">
                						<input type="text" class="form-control" id="">
                					</div>
                				</div>
                			</div>
                			<div class="row">
                				<div class="col-md-6">
                					<br>
                					<label>Localidad</label>
                					<div class="">
                						<input type="number" class="form-control" id="">
                					</div>
                				</div>
                				<br>
                				<div class="col-md-6">
                					<br>
                					<label>Base gravable</label>
                					<div class="input-group">
                						<div class="input-group-prepend">
                							<span class="input-group-text">$</span>
                						</div>
                						<input type="text" class="form-control">
                					</div>     
                				</div>                				
                			</div>
                			<br>
							<div class="row">                				
                				<div class="col-md-6">
                					<label>Sup. Terreno</label>
                					<div class="">
                						<input type="text" class="form-control" id="">
                					</div>
                				</div> 
                				<div class="col-md-6">
                					<label>Valor Terreno</label>
                					<div class="">
                						<input type="text" class="form-control" id="">
                					</div>
                				</div> 
                				<div class="col-md-6">
                					<br>
                					<label>Sup. Construcción</label>
                					<div class="">
                						<input type="text" class="form-control" id="">
                					</div>
                				</div> 
                				<div class="col-md-6">
                					<br>
                					<label>Valor Construcción</label>
                					<div class="">
                						<input type="text" class="form-control" id="">
                					</div>
                				</div>                						
                			</div>							
							<hr>
                			<br>
                			<label>Se acompaña de:</label>
                			<div class="row">                				
                				<br>
                				<div class="col-md-3">
                					<label>Deslinde</label>
                					<label>
                						<input type="checkbox" class="minimal">
                					</label>
                				</div>
                				<br>
                				<div class="col-md-3">
                					<label>Avaluó Bancario</label>
                					<label>
                						<input type="checkbox" class="minimal">
                					</label>
                				</div> 
                				<br>
                				<div class="col-md-3">
                					<label>Certificado de no Adeudo</label>
                					<label>
                						<input type="checkbox" class="minimal">
                					</label>
                				</div>  
                				<br>
                				<div class="col-md-3">
                					<label>Copia escritura Preventa</label>
                					<label>
                						<input type="checkbox" class="minimal">
                					</label>
                				</div>          				
                			</div>
                			<br>
                			<label>Colindantes:</label>
                			<div class="row">                				
                				<div class="col-md-6">
                					<label>Al norte con:</label>
                					<div class="">
                						<input type="text" class="form-control" id="">
                					</div>
                				</div> 
                				<div class="col-md-6">
                					<label>En:</label>
                					<div class="">
                						<input type="text" class="form-control" id="">
                					</div>
                				</div> 
                				<div class="col-md-6">
                					<br>
                					<label>Al sur con:</label>
                					<div class="">
                						<input type="text" class="form-control" id="">
                					</div>
                				</div> 
                				<div class="col-md-6">
                					<br>
                					<label>En:</label>
                					<div class="">
                						<input type="text" class="form-control" id="">
                					</div>
                				</div>
                				<div class="col-md-6">
                					<br>
                					<label>Al oriente con:</label>
                					<div class="">
                						<input type="text" class="form-control" id="">
                					</div>
                				</div> 
                				<div class="col-md-6">
                					<br>
                					<label>En:</label>
                					<div class="">
                						<input type="text" class="form-control" id="">
                					</div>
                				</div>  
                				<div class="col-md-6">
                					<br>
                					<label>Al poniente con:</label>
                					<div class="">
                						<input type="text" class="form-control" id="">
                					</div>
                				</div> 
                				<div class="col-md-6">
                					<br>
                					<label>En:</label>
                					<div class="">
                						<input type="text" class="form-control" id="">
                					</div>
                				</div> 
                				<div class="col-md-12">
                					<br>
                					<label>Materiales de construcción:</label>
                					<div class="">
                						<input type="text" class="form-control" id="">
                					</div>
                				</div>  				
                			</div>
                		</div>
                	</div>
                	<div class="card-footer" *ngIf="datosAltaParcial">
                		<button type="submit" class="btn btn-default float-right"><i class="fa fa-times"></i> Cancelar</button>
                        <button type="submit" class="btn btn-cat-color float-right"><i class="fa fa-search"></i> Guardar</button>
                	</div>
                </form>
            </div>            
        </div>        
    </div>
</div>