<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-6">
            <div class="small-box bg-success">
                <div class="inner">
                    <h3>150</h3>
                    <h5>Cobros realizados este mes</h5>
                </div>
                <div class="icon">
                    <i class="fa fa-dollar"></i>
                </div>
                <a href="#" class="small-box-footer">Ir a reportes <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <div class="col-lg-4 col-6">
            <div class="small-box bg-warning">
                <div class="inner">
                    <!--<h3>53<sup style="font-size: 20px">%</sup></h3>-->
                    <h3>5</h3>
                    <h5>Pagos en espera de validación</h5>
                </div>
                <div class="icon">
                    <i class="fa fa-check"></i>
                </div>
                <a href="#" class="small-box-footer">Ir a validar <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <div class="col-lg-4 col-6">
            <div class="small-box bg-cat-color">
                <div class="inner">
                    <h3>44</h3>
                    <h5>Inscripciones nuevas</h5>
                </div>
                <div class="icon">
                    <i class="fa fa-user-plus"></i>
                </div>
                <a href="#" class="small-box-footer">Ir a reportes <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        
    </div>        
</div>